* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.payment-main {
    min-height: 100vh;
    background-color: rgb(215, 234, 250);
}

.payment-main form {
    height: 75vh;
    max-width: 75vh !important;
    background-color: rgba(84, 122, 131, 0.648) !important;
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.065),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.093),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.115),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.137),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.165),
        100px 100px 80px rgba(0, 0, 0, 0.23);
}

.payment-main form h1 {
    font-family: "Mulish", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 100 !important;
    font-style: normal;
}

.payment-main form input {
    font-family: "Mulish", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 100 !important;
    font-style: normal;
}

/* Specifically target number inputs */
.mobile-input {
    -webkit-appearance: none;
    /* Disable appearance */
    -moz-appearance: textfield;
    /* Firefox */
    appearance: none;
    /* Standard */
}

.mobile-input::-webkit-inner-spin-button,
.mobile-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    /* Remove spinner buttons in WebKit browsers */
}

.payment-btn{
    background-color: #38555b;  
    width: 40%;
}