.privacy-policy-container {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.privacy-policy-container h1,
.privacy-policy-container h2,
.privacy-policy-container h3,
.privacy-policy-container h4 {
    color: #333;
}

.last-updated {
    font-style: italic;
    color: #666;
}

.privacy-policy-container ul {
    list-style-type: disc;
    margin-left: 20px;
}

.privacy-policy-container a {
    color: #007bff;
    text-decoration: none;
}

.privacy-policy-container a:hover {
    text-decoration: underline;
}

.privacy-list {
    li {
        text-align: start;

        color: black;
    }
}

.privacy-list li strong {
    color: black;
}

@media (max-width: 600px) {
    .privacy-policy-container {
        padding: 10px;
    }

    .privacy-policy-container h1 {
        font-size: 1.5em;
    }

    .privacy-policy-container h2 {
        font-size: 1.3em;
    }

    .privacy-policy-container h3 {
        font-size: 1.2em;
    }

    .privacy-policy-container p,
    .privacy-policy-container li {
        font-size: 0.9em;
    }
}