.profile_img{
    width: 200px;
    filter: drop-shadow(7px 10px 1px rgba(0, 0, 0, 0.408)); 
    

}
.profile_details{
    width: 200px;
    filter: drop-shadow(0px 0px 1px rgb(255, 255, 255));

}
.student-council-details-main{
    /* background-color: transparent; */
    background: linear-gradient(to bottom, rgb(0, 0, 0),  rgba(32, 44,77,1),black);
}
.std_presi{
    margin-bottom: 20px;
}
@media screen and (max-width:450px) {
    .profile_details,.profile_img{
        width: 170px;
    }
}

