@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

 .souvnir-main{
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#2942a5, #232323 80%);
 }

.outline-text {
  -webkit-text-stroke: 1px white;
}

.play-btn {
  position: absolute;
  z-index: 1000; /* Ensure it's above Three.js */
  pointer-events: auto; /* Allow clicks */
  right: 0;
}